<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">

<!--

<script src="/static/js/script.js"></script>
<style src="/static/css/styles.css"></style>
-->

<!-- <link rel="stylesheet" href="/static/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.min.css" rel="stylesheet">
<style>
  .form-control {height:40px; width:400px !important}
</style>
</head>


<body class="text-center">
  <h1>MedQA</h1>
  <br/>
  <!--
  <form class="form-inline">
  <div class="form-group">
    <label for="exampleInputName2">Name</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
  </div>
  <button type="submit" class="btn btn-default">Send invitation</button>
-->


<!--  <form class="form-signin" method=post enctype=multipart/form-data align="center">-->
<form class="form-inline" method=post enctype=multipart/form-data align="center">
    <div class="form-group" >
      <input type="file" name="file" class="form-control-file" id="inputfile">
      <br>
      <label for="inputquestion">Question</label>
      <input type="text" name="Question" class="form-control" id="inputquestion" placeholder="Type" value="Which are the smallest known subviral pathogens of plants?">
      <button class="btn btn-md btn-primary" type="submit">Upload</button>
    </div>
    <br>
    <br>
    <div class="social-icons">
          <i class="fab fa-linkedin-in fa-3x"></i>
          <i class="fab fa-github fa-3x"></i>
    </div>
</form>

  <script src="//code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="//stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

  <script type="text/javascript">
      $('#inputfile').bind('change', function() {
          let ext = $('#inputfile').val().split('.').pop().toLowerCase();
          if($.inArray(ext, ['json']) == -1) {
              $("#inputfile").val(null);
              alert('only json file is allowed!');
          }
       });
   </script>
</body>
</html>
